{% extends 'base.html.twig' %}

{% block body %}

    <div class="page-header">
        <h1 style="margin-bottom:30px;">FAQ</h1>
    </div>

    <div class="container">

        <div class="jumbotron">
            <h1 style="text-align:center; margin-bottom:20px;">Witaj na forum dyskusyjnym!</h1>
            <p style="text-align:center;">Forum to powstało jako projekt zaliczeniowy na zajęcia Systemy Interakcyjne na kierunku Elektroniczne Przetwarzanie Informacji.</p>
        </div>

        <div class="jumbotron" style="text-align:center;">Jak korzystać z forum:</div>
        <p class="bg-info" style="margin-bottom:30px;">Wsytarczy założyć konto pod <a style="text-decoration: underline;" href="{{ url('register') }}">tym adresem</a> aby uzyskać uprawnienia użytkownika.</p>

        <div class="jumbotron" style="text-align:center;">Funkcjonalności forum:</div>
        <p class="bg-info">Rejestracja i logowanie</p>
        <p class="bg-info">Tworzenie, edycja i usuwanie tematów</p>
        <p class="bg-info">Tworzenie, edycja i usuwanie postów</p>
        <p class="bg-info">Zamykanie tematów</p>
        <p class="bg-info">Nadawanie uprawnień administratora</p>
        <p class="bg-info">Zliczanie ilości tematów i postów w działach oraz postów w tematach</p>
        <p class="bg-info">Zliczanie postów użytkowników</p>
        <p class="bg-info" style="margin-bottom:30px;">Wiele funkcjonalności dodatkowych, jak np. podział użytkowników na role (gość, zalogowany, administrator), kontrola
        dostępu do poszczególnych elementów aplikacji, pełne tłumaczenie w wersji angielskiej.</p>

        <p class="center">Wykorzystane technologie:</p>
        <p class="center">- PHP</p>
        <p class="center">- HTML</p>
        <p class="center">- CSS</p>
        <p class="center">- Bootstrap</p>
        <p class="center">- Silex</p>
        <p class="center">- Twig</p>
        <p class="center">- Doctrine DBAL</p>
        <p class="center" style="margin-bottom:30px;">- Silex Skeleton</p>

    </div>

    <div style="margin-bottom:80px; display:block; text-align:center;">
    <p>
            <img style="border:0;width:88px;height:31px"
                 src="http://jigsaw.w3.org/css-validator/images/vcss"
                 alt="Poprawny CSS!">
        </a>
    </p>
    </div>

{% endblock %}