{% extends 'base.html.twig' %}

{% block body %}
    <p style="font-size:30px; font-weight:bold; text-align:center; margin-top:20px; padding-top:20px; margin-bottom:50px;">{{ topic.0.nameTopic }}</p>
    {% for top in topic %}
        <div style="height:220px; width:80%; margin:auto; border:1px solid black; margin-bottom:20px;">
        <div style="width:10%; float:left; height:100%; border-right:1px dashed black;">
        <p style="padding:10px;">Nazwa użytkownika<br> {{ top.username }}</p>
            {% for row in posts %}
                {% if row.idForumUser == top.idForumUser %}
                    <p style="padding:10px;">Posty użytkownika<br> {{ row.posts }}</p>
                {% endif %}
            {% endfor %}
        </div>
        <div style="width:85%; float:right; height:auto;">
        <p style="padding:20px;">{{ top.content }}</p>
        </div>
        </div>
    {% endfor %}
{% endblock %}